#roadmap {
  padding-top: 100px;
  .status {
    color: white;
  }
}

.big-button {
  padding: 15px 0px;
  border-radius: 10px;
  font-size: 30px;
}

.slideImage {
  max-height: 150px;
    position: absolute;
    right: -70%;
    top: 60px;
    padding: 10px;
}
