<div id="footer">
  <div class="wrapper">
    <div class="content-container">
      <div class="row justify-content-center">
        <div class="logo">
          <img
            src="assets/custom/cover-orc.png"
            alt="Cover of an orc for the footer of the page"
          />
        </div>
        <div class="inner-content col-10 col-md-9">
          <div class="row justify-content-center">
            <div class="col-3 item">
              <h3>Sections</h3>
              <ul>
                <li><a href="#introduction">Features</a></li>
                <li><a href="#ingame">In game</a></li>
                <li><a href="#docs">Documentation</a></li>
              </ul>
            </div>
            <div class="col-3 item">
              <h3>About</h3>
              <ul>
                <li><a href="#">Company</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Careers</a></li>
              </ul>
            </div>
            <div class="col-6 item text">
              <h3>Uruk Bartas</h3>
              <p>With ❤️, by players for players.</p>
              <p>urukbartas&#64;gmail.com</p>
              <div class="col item social pt-3 text-right">
                <a
                  href="https://twitter.com/urukbartas"
                  target="_blank"
                  rel="noopener noreferrer"
                  ><i class="fa fa-twitter"></i
                ></a>
                <a
                  href="https://t.me/+HtUio8Qqi8piNGRk"
                  target="_blank"
                  rel="noopener noreferrer"
                  ><i class="fa fa-telegram"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
