<div id="footer">
  <div class="wrapper">
    <div class="grass"></div>
    <div class="content-container">
      <div class="row justify-content-center">
        <div class="logo">
          <img src="assets/custom/cover-orc.png" alt="assets/custom/cover-orc.png" />
        </div>
        <div class="inner-content col-10 col-md-9">
          <div class="row justify-content-center">
            <div class="col-3 item">
              <h3>Sections</h3>
              <ul>
                <li><a href="#introduction">Features</a></li>
                <li><a href="#ingame">In game</a></li>
                <li><a href="#roadmap">Roadmap</a></li>
                <li><a href="#tokenomics">Tokenomics</a></li>
                <li><a href="#buy-token">How to buy</a></li>
                <li><a href="#whitepaper">Whitepaper</a></li>
              </ul>
            </div>
            <div class="col-3 item">
              <h3>Links of interest</h3>
              <ul>
                <li>
                  <a href="javascript:void(0)" style="cursor: pointer" (click)="downloadWhitepaper()">Whitepaper</a>
                </li>
                <li>
                  <a
                    href="https://www.notion.so/04e7d3398af64d028c7a0d0c93af3654?v=0a8fb2db03f645e188ae9a7259ff4f28"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Roadmap</a
                  >
                </li>
              </ul>
            </div>
            <div class="col-3 item">
              <h3>About</h3>
              <ul>
                <li><a href="#">Company</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Careers</a></li>
              </ul>
            </div>
            <div class="col-3 item text">
              <h3>Uruk Bartas</h3>
              <p>With ❤️,coded by players, for the enjoyment of players.</p>
              <p>urukbartas&#64;gmail.com</p>
              <div class="col item social pt-3 text-right">
                <a href="https://twitter.com/urukbartas" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a>
                <a href="https://t.me/joinchat/qnHZwlknRNJlY2Q1" target="_blank" rel="noopener noreferrer"
                  ><i class="fa fa-telegram"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
