#buy-token {
  min-height: 100vh;
  width: 100%;
  max-width: 1500px;
  swiper {
    width: 90vw;
    height: 700px;
    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 600px;
      }
      .text-container {
        background: rgba(0, 0, 0, 0.7);
        color: white;
        position: absolute;
        bottom: 0;
        text-align: center;
        padding: 20px;
        max-width: 90vw;
        width: 700px;
      }
    }
    .swiper-button-next {
      color: black;
    }

    .swiper-button-prev {
      left: 35px !important;
      &::after {
        content: url('../../../../../../assets/custom/flecha-2.png') !important;
        font-family: auto !important;
      }
    }

    .swiper-button-next {
      right: 35px !important;
      &::after {
        content: url('../../../../../../assets/custom/flecha.png') !important;
        font-family: auto !important;
      }
    }
  }
}
