#presale {
  width: 100%;
  margin-top: 100px;

  .presale-container {
    background: #0101018c;
    border-radius: 15px;
    padding: 30px;

    #presale-countdown {
      font-family: monospace;
      font-size: 35px;
      color: #fffffffc;
      width: fit-content;
      padding: 5px 20px;
      font-weight: bold;
      text-decoration: none;
      user-select: none;
      cursor: pointer;
      text-shadow: 0 0 10px white;
    }

    .presale-title {
      font-family: monospace;
      font-size: 35px;
      color: #fffffffc;
      width: fit-content;
      padding: 5px 20px;
      font-weight: bold;
      text-decoration: none;
      user-select: none;
      text-shadow: 0 0 10px white;
      .uruk {
        color: #ffc90b !important;
        text-shadow: none !important;
      }

      .whitelisted {
        color: #0bff0b !important;
        text-shadow: none !important;
      }
      .not-whitelisted {
        color: #ff440b !important;
        text-shadow: none !important;
      }
    }

    .allow-metamask {
      text-shadow: none !important;
      color: #ffc90b !important;
    }

    .presale-input {
      display: flex;
      justify-content: center;
      padding: 50px 0;
      position: relative;
      input {
        width: 100%;
        background: #252525cc;
        border-radius: 10px 0px 0 10px;
        height: 90px;
        font-size: 45px;
        color: white;
        border: 0;
        box-shadow: 0 0 10px white;
        padding-left: 30px;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
      .tag {
        position: absolute;
        color: #ffffff73;
        top: 73px;
        right: 125px;
        font-size: 30px;
      }
      button {
        font-size: 30px;
        font-weight: bold;
        box-shadow: 0 0 10px white;
      }
    }
  }

  .meter {
    box-sizing: content-box;
    height: 30px;
    position: relative;
    margin: 20px 0px;
    background: #252525;
    border-radius: 25px;
    padding: 3px;
    .number {
      position: absolute;
      z-index: 1;
      left: 0;
      right: 0;
      text-align: center;
      font-family: monospace;
      font-weight: bold;
      font-size: 20px;
      color: white;
      text-shadow: 0 0 10px white;
    }
    span {
      display: block;
      height: 100%;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      background-color: rgb(43, 194, 83);
      background-image: linear-gradient(center bottom, rgb(43, 194, 83) 37%, rgb(84, 240, 84) 69%);
      box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
      position: relative;
      overflow: hidden;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-image: linear-gradient(
          -45deg,
          rgba(255, 255, 255, 0.2) 25%,
          transparent 25%,
          transparent 50%,
          rgba(255, 255, 255, 0.2) 50%,
          rgba(255, 255, 255, 0.2) 75%,
          transparent 75%,
          transparent
        );
        z-index: 1;
        background-size: 50px 50px;
        animation: move 2s linear infinite;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        overflow: hidden;
      }
    }
  }

  .orange > span {
    background-image: linear-gradient(#f1a165, #f36d0a);
  }

  .red > span {
    background-image: linear-gradient(#f0a3a3, #f42323);
  }
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
