<div id="mythics">
  <h1 class="title-section w-100 title-mythics">Mythic items</h1>

  <div class="trigger-adventurer"></div>

  <div class="adventurer">
    <div class="text">
      Hey chief, look at what we found inside the final boss chest! It says that it is the cursed armour of the "Forgotten Darklord" and
      something about vampirism. What the hell is this!?
    </div>
    <img src="assets/characters/adventurer.png" />
  </div>

  <div class="wrapper d-flex justify-content-center">
    <swiper [config]="config">
      <ng-template swiperSlide>
        <img src="assets/mythics/sword.png" />
      </ng-template>
      <ng-template swiperSlide>
        <img src="assets/mythics/shield.png" />
      </ng-template>
      <ng-template swiperSlide>
        <img src="assets/mythics/chest.png" />
      </ng-template>
      <ng-template swiperSlide>
        <img src="assets/mythics/boots.png" />
      </ng-template>
      <ng-template swiperSlide>
        <img src="assets/mythics/cloak.png" />
      </ng-template>
      <ng-template swiperSlide>
        <img src="assets/mythics/gloves.png" />
      </ng-template>
      <ng-template swiperSlide>
        <img src="assets/mythics/helmet.png" />
      </ng-template>
      <ng-template swiperSlide>
        <img src="assets/mythics/pants.png" />
      </ng-template>
      <ng-template swiperSlide>
        <img src="assets/mythics/shoulders.png" />
      </ng-template>
    </swiper>
  </div>
</div>
