<div id="whitepaper" class="row">
  <div class="book-container col-12 col-xl-6">
    <img class="book" src="assets/whitepaper/libro.png" />
    <img class="pedestal" src="assets/whitepaper/atril.png" />
  </div>
  <div class="text-container col-12 col-xl-6 d-flex align-items-start">
    <p>
      Get the book of the dark Uruk's ritual, also called
      <span class="download">
        <a
          style="cursor: pointer"
          href="https://github.com/UrukBartas/Webpage/blob/main/src/assets/whitepaper/Uruk%20Bartas%20-%20%20Whitepaper.pdf"
          target="_blank"
          rel="noopener noreferrer"
          >"whitepaper".</a
        ></span
      >
    </p>
  </div>
</div>

