<div id="whitepaper" class="row">
  <div class="book-container col-12 col-xl-6">
    <img class="book" src="assets/whitepaper/libro.png" />
    <img class="pedestal" src="assets/whitepaper/atril.png" />
  </div>
  <div class="text-container col-12 col-xl-6 d-flex align-items-start">
    <p>
      Get the book of the dark Uruk's ritual, also called
      <span class="download">
        <a
          href="https://docs.google.com/document/d/1xOgvOgKEIjSahumPTh0Kvg1yRp4PzBS4Xw8QDZiSu04/edit?usp=sharing"
          target="_blank"
          rel="noopener noreferrer"
          >"whitepaper".</a
        ></span
      >
    </p>
  </div>
</div>
