<div id="whitepaper">
  <div class="row justify-content-around wrapper">
    <div class="col-lg-5 col-12 book-container">
      <img class="book" src="assets/whitepaper/libro.png" />
      <img class="pedestal" src="assets/whitepaper/pedestal.png" />
    </div>
    <div class="col-lg-6 col-12 d-flex align-items-center justify-content-center">
      <div class="text-container">
        <p>Get the book of the dark Uruk's ritual, also called <span (click)="download()" class="download">"whitepaper".</span></p>
      </div>
    </div>
  </div>
</div>
