#whitepaper {
  height: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
  .book-container {
    position: relative;
    .pedestal {
      position: absolute;
      left: 0;
      top: 200px;
    }
    .book {
      position: relative;
      animation: shakeY;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      z-index: 1;
      padding-left: 80px;
    }
  }

  .text-container {
    p {
      font-size: 79px;
      font-family: wow;
      -webkit-text-stroke: 3px #1f1e055c;
      color: #d4c095;
      user-select: none;
      .download {
        text-decoration: underline;
        text-decoration-color: #d4c095;
        cursor: pointer;
        &:hover {
          color: white;
          text-decoration-color: white;
        }
      }
    }
  }
}
