#mobile-menu {
  left: 0;
  display: none;
  position: fixed;
  z-index: 99;
  width: 100vw;
  background-color: #ffffff15 !important;
  .logo {
    height: 40px;
    padding-left: 30px;
    opacity: 0.8;
  }
  .navbar-toggler {
    margin-right: 20px;
    float: right;
  }
  .navbar-collapse {
    text-align: center;
    .nav-item {
      background: #0000006b;
      border-bottom: 1px solid #00000014;
      &:last-child {
        border-bottom: 0px;
      }
    }
    .nav-link {
      cursor: pointer;
      font-family: 'wow';
      font-size: 26px;
      color: white !important;
      &:hover {
        background: #a7a7a794;
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  #mobile-menu {
    display: block !important;
  }
}
