#mobile-menu {
  left: 0;
  display: none;
  position: fixed;
  z-index: 99;
  width: 100vw;
  background-color: #ffffff15 !important;
  .logo {
    height: 40px;
    padding-left: 30px;
    opacity: 0.8;
  }
  .navbar-toggler {
    margin-right: 20px;
    float: right;
  }
  .navbar-collapse {
    text-align: center;
    background: #0000002f;
    .nav-item {
      cursor: pointer;
      display: flex;
      justify-content: center;
      .nav-icon {
        font-size: 30px;
        position: absolute;
        padding-right: 200px;
      }
      .nav-link {
        cursor: pointer;
        font-size: 18px;
        color: white !important;
        z-index: 1;
        width: 100%;
        &:hover {
          background: #a7a7a750;
        }
      }
      &:last-child {
        border-bottom: 0px;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  #mobile-menu {
    display: block !important;
  }
}
