<nav
  id="mobile-menu"
  class="navbar shadow-sm navbar-expand-lg navbar-light bg-light"
>
  <img class="logo" src="assets/custom/cover-text.png"  alt="Uruk bartas cover text" />

  <button
    class="navbar-toggler"
    type="button"
    (click)="menu.style.display = !show ? 'block' : 'none'; show = !show"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div #menu class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <span class="nav-icon">🏡</span>
        <a class="nav-link" href="#cover">HOME</a>
      </li>
      <li class="nav-item">
        <span class="nav-icon">✨</span>
        <a class="nav-link" href="#introduction">FEATURES</a>
      </li>
      <li class="nav-item">
        <span class="nav-icon">🎮</span>
        <a class="nav-link" href="#ingame">IN GAME</a>
      </li>
      <li class="nav-item">
        <span class="nav-icon">📖</span>
        <a class="nav-link" href="#docs">DOCS</a>
      </li>
    </ul>
  </div>
</nav>
