<div id="in-game">
  <h1 class="title-section" style="padding-bottom: 50px">In game</h1>

  <div class="character row pb-5">
    <div class="image-container col-12 col-lg-8" data-aos="zoom-in" data-aos-duration="1000">
      <pinch-zoom>
        <img src="assets/custom/character.png" class="screenshot" />
      </pinch-zoom>
    </div>
    <div class="text-container-character col-12 col-lg-4" data-aos="flip-up" data-aos-delay="500">
      <div class="text">
        <span>Character</span>
        In this section you will be able to equip your character with all the loot you have earned through incountable battles, and set the
        strategy for your next combat. ⚔️
      </div>
    </div>
  </div>

  <div class="marketplace row">
    <div class="text-container-marketplace col-12 col-lg-4" data-aos="flip-up" data-aos-delay="500" data-aos-duration="1000">
      <div class="text">
        <span>Marketplace</span>
        This is the place where players can choose to sell the items they have earned from doing quests or if they want to keep the item but
        still profit from it, they can proceed to renting them to other players instead. Only a small transaction fee is required to pay for
        the service of goblin bankers. 💸
      </div>
    </div>
    <div class="image-container col-12 col-lg-8" data-aos="zoom-in" data-aos-duration="1000">
      <pinch-zoom>
        <img src="assets/custom/marketplace.png" class="screenshot" />
      </pinch-zoom>
    </div>
  </div>
</div>
