<div id="in-game">
  <h1 class="title-section" style="padding-bottom: 50px">In game</h1>

  <div class="character row pb-5">
    <div
      class="image-container col-12 col-lg-8 justify-content-start"
      data-aos="zoom-in"
      data-aos-duration="1000"
    >
      <pinch-zoom>
        <img src="assets/custom/inventory-wallpaper.png" class="screenshot" />
      </pinch-zoom>
    </div>
    <div
      class="text-container-character col-12 col-lg-4"
      data-aos="flip-up"
      data-aos-delay="500"
    >
      <div class="text">
        <span>🎒 Treasures Await</span>
        Explore your amassed collection of NFT treasures in your inventory.
        Equip powerful artifacts, armor, and weapons to enhance your character's
        abilities. From legendary swords to mystical amulets, each item holds
        unique power and significance.
      </div>
    </div>
  </div>

  <div class="marketplace row pb-5">
    <div
      class="text-container-marketplace col-12 col-lg-4"
      data-aos="flip-up"
      data-aos-delay="500"
      data-aos-duration="1000"
    >
      <div class="text">
        <span>🛡️ Forge Your Legend</span>
        Dive into a world where your character's journey unfolds with every
        decision. Customize your hero, choose their path, and watch as their
        story evolves.
      </div>
    </div>
    <div
      class="image-container col-12 col-lg-8 justify-content-end"
      data-aos="zoom-in"
      data-aos-duration="1000"
    >
      <pinch-zoom>
        <img src="assets/custom/combat-system.png" class="screenshot" />
      </pinch-zoom>
    </div>
  </div>

  <div class="playtoearn row pb-5">
    <div
      class="image-container col-12 col-lg-8 pb-5 justify-content-start"
      data-aos="zoom-in"
      data-aos-duration="1000"
    >
      <pinch-zoom>
        <img src="assets/custom/quests.rewards.png" class="screenshot" />
      </pinch-zoom>
    </div>
    <div
      class="text-container-character col-12 col-lg-4"
      data-aos="flip-up"
      data-aos-delay="500"
    >
      <div class="text">
        <span>🎮 Rewards Beyond Imagination</span>
        Embark on a journey where every quest completed and every foe defeated
        brings tangible rewards. Earn Golden Uruks, and valuable NFTs with
        real-world value.
      </div>
    </div>
  </div>

  <div class="shop row pb-5">
    <div
      class="text-container-shop col-12 col-lg-4 pb-5"
      data-aos="flip-up"
      data-aos-delay="500"
    >
      <div class="text">
        <span>✨ Meet our shopkeeper</span>
        Our friendly shopkeeper will provide you with all the things you will need
        for your battles. You get a free roll every 24 hours, or infinite rerolls
        with our premium roll system. Each roll provides chance for rarer items!
      </div>
    </div>
    <div
      class="image-container col-12 col-lg-8 pb-5 justify-content-end"
      data-aos="zoom-in"
      data-aos-duration="1000"
    >
      <pinch-zoom>
        <img src="assets/custom/shop.png" class="screenshot" />
      </pinch-zoom>
    </div>
  </div>
</div>
