<div id="presale-container" class="row">
  <div #threeContainer class="three-container"></div>
  <div
    [ngClass]="{ 'col-md-12': !openDetail, 'col-md-7': openDetail }"
    class="col-md-7 col-12 d-flex flex-column justify-content-center"
  >
    <div class="lootboxes">
      <swiper [config]="swiperConfig" (slideChange)="onSlideChange($event)">
        <ng-template *ngFor="let lootbox of lootboxes" swiperSlide>
          <div class="d-flex flex-column lootbox-item align-items-center">
            <img
              (click)="openDetail = !openDetail"
              [ngClass]="{
                'glowing-common': lootbox.rarity === rarityEnum.COMMON,
                'glowing-uncommon': lootbox.rarity === rarityEnum.UNCOMMON,
                'glowing-epic': lootbox.rarity === rarityEnum.EPIC,
                'glowing-legendary': lootbox.rarity === rarityEnum.LEGENDARY,
                'glowing-mythic': lootbox.rarity === rarityEnum.MYTHIC
              }"
              [src]="lootbox.image"
              class="lootbox-image"
            />
            <span
              [ngStyle]="{ color: getRarityColor(lootbox.rarity) }"
              class="lootbox-name"
              >{{ lootbox.name }}</span
            >
          </div>
        </ng-template>
      </swiper>
    </div>
  </div>
  <div *ngIf="openDetail" class="col-md-5 col-12 lootbox-details">
    <div class="details">
      <div
        *ngIf="lootboxItemDropRateByRarity[activeLootbox.rarity] as dropRates"
        class="text-white"
      >
        <h3>Drop Rates:</h3>
        <ul>
          <li *ngFor="let rarity of dropRates | keyvalue">
            {{ rarity.key }}: {{ rarity.value * 10 }} %
          </li>
        </ul>
      </div>
      <div class="d-flex justify-content-end gap-2">
        <p class="price text-end">$9.99</p>
        <p class="text-white text-end">0/1000</p>
      </div>

      <div class="image-gallery py-2">
        <div *ngFor="let imageUrl of getImageUrls()" class="image-item">
          <img [src]="imageUrl" alt="Lootbox Image" class="lootbox-image" />
        </div>
      </div>
      <div class="d-flex pt-3">
        <button class="button-rainbow">Mint now</button>
      </div>
    </div>
  </div>
</div>
