@import "bootstrap/scss/bootstrap";

#presale-container {
  position: relative;
  overflow: hidden;
  height: 100vh;

  .three-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: #ffffff70;
  }

  .lootboxes {
    .lootbox-item {
      text-align: center;
      cursor: grab;

      .lootbox-image {
        width: 30vmax;
        max-width: 500px;
        filter: drop-shadow(10px 10px 10px #000);
      }

      .lootbox-name {
        font-size: 2em;
        @include media-breakpoint-down(lg) {
          font-size: 1.5em;
        }
        margin-top: 10px;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
      }
    }
  }

  .lootbox-details {
    background: #00000025;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .details {
      width: 30vmax;

      .image-gallery {
        display: -webkit-inline-box;
        gap: 10px;
        overflow-x: hidden;
        max-width: 100%;
        overflow-x: scroll;

        .image-item {
          width: 8vmax;
          box-sizing: border-box;

          .lootbox-image {
            width: 100%;
            height: auto;
            border-radius: 8px;
          }
        }
      }

      h2 {
        font-size: 2em;
        @include media-breakpoint-down(lg) {
          font-size: 1.5em;
        }
        margin-bottom: 10px;
        color: #ffcc00;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
      }

      h3 {
        font-size: 1.5em;
        @include media-breakpoint-down(lg) {
          font-size: 1.25em;
        }
        margin-bottom: 10px;
        color: #ffcc00;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
      }

      p {
        font-size: 1.2em;
        @include media-breakpoint-down(lg) {
          font-size: 1em;
        }
        margin: 10px 0;
      }

      .price {
        font-size: 1.2em;
        @include media-breakpoint-down(lg) {
          font-size: 1em;
        }
        color: #00ff00;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
      }

      .button-rainbow {
        padding: 10px 20px;
        font-size: 1.5em;
        @include media-breakpoint-down(lg) {
          font-size: 1em;
        }
      }
    }
  }
}
