@import "../../../../../../styles/variables.scss";

#cover {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .orc {
    position: absolute;
    padding-bottom: 100px;
    z-index: 1;
    max-width: 300px;
    animation: shakeY 10s 1s infinite;
  }
  .text {
    position: absolute;
    padding-top: 350px;
    filter: sepia();
  }

  .axe {
    position: absolute;
    z-index: 0;
    padding-bottom: 200px;
    &.axe-2 {
      transform: skewX(10deg);
      padding-right: 150px;
      animation: move-axe-1 1s ease-in-out, shakeY 10s 1s infinite;
    }
    &.axe-1 {
      transform: skewX(10deg);
      padding-left: 150px;
      animation: move-axe-2 1s ease-in-out, shakeY 10s 1s infinite;
    }
  }

  .scroll-down {
    position: absolute;
    bottom: 150px;
    padding-right: 60px;

    .chevron {
      position: absolute;
      width: 1rem * 3.5;
      height: 1rem * 0.8;
      opacity: 0;
      transform: scale(0.3);
      animation: move-chevron 3s ease-out infinite;
      &:first-child {
        animation: move-chevron 3s ease-out 1s infinite;
      }
      &:nth-child(2) {
        animation: move-chevron 3s ease-out 2s infinite;
      }
      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 0;
        height: 100%;
        width: 50%;
      }

      &:before {
        left: 0;
        transform: skewY(30deg);
      }

      &:after {
        right: 0;
        width: 50%;
        transform: skewY(-30deg);
      }
    }
    .chevron-1::after,
    .chevron-1::before {
      background: $primary;
    }
    .chevron-2::after,
    .chevron-2::before {
      background: $primary;
    }
    .chevron-3::after,
    .chevron-3::before {
      background: $primary;
    }
  }
}

@keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    transform: translateY(0.6rem * 3.8);
  }
  66.6% {
    opacity: 1;
    transform: translateY(0.6rem * 5.2);
  }
  100% {
    opacity: 0;
    transform: translateY(0.6rem * 8) scale(0.5);
  }
}

@keyframes move-axe-1 {
  0% {
    transform: rotate(0deg) skewX(0deg);
  }
  50% {
    transform: skewX(10deg);
  }
  100% {
    transform: skewX(0deg) rotate(360deg);
  }
}

@keyframes move-axe-2 {
  0% {
    transform: rotate(0deg) skewX(0deg);
  }
  50% {
    transform: skewX(-10deg);
  }
  100% {
    transform: skewX(0deg) rotate(-360deg);
  }
}

@media only screen and (max-width: 640px) {
  #cover {
    .text {
      display: none;
    }
    .orc {
      width: 70vw;
    }
    .axe {
      width: 90vw;
    }
  }
}

@media only screen and (max-width: 1000px) {
  #cover {
    .text {
      width: 85vw;
    }
  }
}
