<div id="cover">
  <div class="logo">
    <img src="assets/logo.png" />
  </div>
  <div class="cartel">
    <img class="cartel-img" src="assets/custom/cartel.png" />
    <img class="drake-1" src="assets/custom/drake.png" />
    <img (click)="router.navigateByUrl('/game')" class="banner" src="assets/custom/banner.png" />
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/cKfuo3uOLGs"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</div>
