#cover {
  width: 100%;
  height: 100vh;

  .logo {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    img {
      height: 100%;
      width: 1300px;
      padding-left: 48px;
    }
  }
  .cartel {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    position: relative;
    .cartel-img {
      width: 1000px;
    }
    .banner {
      position: absolute;
      width: 600px;
      height: 200px;
      bottom: -145px;
      z-index: 1;
      cursor: pointer;
    }
    iframe {
      position: absolute;
      top: 70px;
      width: 887px;
      height: 470px;
    }
  }
}
