<div id="landing" class="container">
  <div class="body">
    <div class="background-image-cover"></div>
    <app-mobile-menu></app-mobile-menu>
    <div class="topbar justify-content-center px-3">
      <a class="link" href="#cover">Home</a>
      <a class="link" href="#introduction">Features</a>
      <a class="link" href="#ingame">In game</a>
      <!-- <a class="link" href="#roadmap">Roadmap</a>
      <a class="link" href="#tokenomics">Tokenomics</a>
      <a class="link" href="#buy-token">How to buy</a> -->
      <a class="link" href="#docs">Documentation</a>
      <a class="link play-now" href="https://game.urukbartas.com" target="_blank" rel="noopener noreferrer">Play now</a>
      <!-- <a class="link" href="/presale">Presale</a> -->
    </div>

    <div class="w-100">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div id="footer">
  <app-footer></app-footer>
</div>
