<div id="landing">
  <div class="body">
    <div class="topbar">
      <img src="assets/custom/topbar.png" />
      <div class="button">
        <mat-icon class="pt-1">home</mat-icon>
      </div>
      <div class="button">Features</div>
      <div class="button">In game</div>
      <div class="button">Roadmap</div>
      <div class="button">Tokenomics</div>
      <div class="button">How to buy</div>
      <div class="button">Whitepaper</div>
    </div>
    <app-cover></app-cover>
    <app-introduction></app-introduction>
    <app-features></app-features>
    <app-in-game></app-in-game>
    <app-roadmap></app-roadmap>
    <app-buy-token></app-buy-token>
    <app-whitepaper></app-whitepaper>
    <app-footer></app-footer>
  </div>
</div>
