#landing {
  display: flex;
  justify-content: center;
  position: relative;
  overflow-x: hidden;
  .body {
    max-width: 1920px;
    .cartel-play {
      position: fixed;
      z-index: 5;
      top: -20px;
      right: 20px;
      visibility: hidden;
      cursor: pointer;
    }
  }
}

.display-cartel-play {
  animation: slideInDown;
  animation-duration: 1s;
}

.hide-cartel-play {
  animation: slideOutUp;
  animation-duration: 1s;
}
