/* For use in src/lib/core/theming/_palette.scss */
$md-primaryuruk: (
    50 : #e7e8e2,
    100 : #c2c7b7,
    200 : #9aa187,
    300 : #717b57,
    400 : #525f33,
    500 : #34430f,
    600 : #2f3d0d,
    700 : #27340b,
    800 : #212c08,
    900 : #151e04,
    A100 : #bbff5b,
    A200 : #a6ff28,
    A400 : #8ff400,
    A700 : #80da00,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


