
/* For use in src/lib/core/theming/_palette.scss */
$md-mcgpalette0: (
    50 : #f0e3e5,
    100 : #d9b9bd,
    200 : #c08a91,
    300 : #a65b65,
    400 : #933744,
    500 : #801423,
    600 : #78121f,
    700 : #6d0e1a,
    800 : #630b15,
    900 : #50060c,
    A100 : #ff8489,
    A200 : #ff5159,
    A400 : #ff1e28,
    A700 : #ff0410,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);