$md-secondaryuruk: (
    50 : #edf0e4,
    100 : #d2dabc,
    200 : #b4c28f,
    300 : #95aa62,
    400 : #7f9740,
    500 : #68851e,
    600 : #607d1a,
    700 : #557216,
    800 : #4b6812,
    900 : #3a550a,
    A100 : #cfff8a,
    A200 : #baff57,
    A400 : #a5ff24,
    A700 : #9bff0a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

