
/* For use in src/lib/core/theming/_palette.scss */
$md-mcgpalette1: (
    50 : #e6e5e3,
    100 : #c1bdb9,
    200 : #97918a,
    300 : #6d655b,
    400 : #4e4437,
    500 : #2f2314,
    600 : #2a1f12,
    700 : #231a0e,
    800 : #1d150b,
    900 : #120c06,
    A100 : #ff9b54,
    A200 : #ff7d21,
    A400 : #ed6200,
    A700 : #d45800,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

