
$md-thirduruk: (
    50 : #f2f6e5,
    100 : #dde9bf,
    200 : #c7db95,
    300 : #b1cd6a,
    400 : #a0c24a,
    500 : #8fb72a,
    600 : #87b025,
    700 : #7ca71f,
    800 : #729f19,
    900 : #60900f,
    A100 : #e6ffc1,
    A200 : #d1ff8e,
    A400 : #bcff5b,
    A700 : #b2ff41,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

