
/* For use in src/lib/core/theming/_palette.scss */
$md-mcgpalette2: (
    50 : #f7f7f2,
    100 : #ececdf,
    200 : #dfe0ca,
    300 : #d2d3b5,
    400 : #c9c9a5,
    500 : #bfc095,
    600 : #b9ba8d,
    700 : #b1b282,
    800 : #a9aa78,
    900 : #9b9c67,
    A100 : #ffffff,
    A200 : #feffde,
    A400 : #feffab,
    A700 : #fdff91,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

