.background {
  z-index: -100;
  width: 100%;
  height: 100%;
  position: fixed;
  background: radial-gradient(circle, #00000082 8%, rgba(0, 125, 193, 0) 60%);
  img {
    width: 100%;
  }
}

.isInGame {
  background-color: black;
  overflow: hidden;
}
