#features {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  min-width: 100%;
  align-items: center;
  .title-section {
    position: absolute;
    top: 0;
    margin-right: 800px;
  }
  .chest {
    width: 300px;
    position: absolute;
    margin-top: 500px;
    z-index: 1;
    margin-right: 200px;
  }
  .text {
    background: #0000003d;
    color: white;
    max-width: 90vw;
    width: 1000px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    font-family: monospace;
    font-size: 25px;
    position: absolute;
    margin-bottom: 500px;
  }
  .wizard {
    position: absolute;
    height: 600px;
    margin-left: 200px;
    margin-top: 300px;
  }
}
