<div id="features">
  <img class="title" src="assets/custom/features-text.png" />
  <img class="chest" src="assets/custom/chest.png" data-aos="fade-left" data-aos-duration="1000" data-aos-anchor-placement="top-bottom" />
  <img class="wizard" src="assets/characters/wizard.png" />
  <div class="text">
    Welcome to the play to earn revolution, human! Earn real money by playing internet games! Sounds too good right? But it isn't. How does
    this work? You play the game and earn some $URUK by questing. Then you choose if you prefer to sell it or reinvest it in our ecosystem,
    so you can earn more and more !
  </div>
</div>
