#features {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  .title {
    position: absolute;
    top: 0;
    left: 0;
  }
  .chest {
    width: 300px;
    position: absolute;
    bottom: 0;
    margin-left: 800px;
  }
  .text {
    background: #0000003d;
    color: white;
    max-width: 90vw;
    width: 1000px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    font-family: monospace;
    font-size: 25px;
    top: 100px;
    position: absolute;
  }
  .wizard {
    position: absolute;
    height: 600px;
    padding-right: 700px;
    bottom: 0;
  }
}
