$common: #ffffff;
$uncommon: #1eff00;
$rare: #0070dd;
$epic: #a335ee;
$legendary: #ff8000;
$mythic: #fbd542;

.card {
  display: grid;
  width: fit-content;
  grid-template-columns: 300px;
  grid-template-rows: 310px 140px 80px;
  grid-template-areas: "image" "text" "stats";
  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: roboto;
  text-align: center;
  transition: 0.5s ease;
  cursor: pointer;
  margin: 30px;
  &:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
  }
}

mat-chip-list {
  display: flex;
  justify-content: center;
}

.card-stats {
  grid-area: stats;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  text-align: center;
  font-family: "wow";
  font-size: 60px;
}

.border-common {
  border: 2px solid $common;
}

.border-uncommon {
  border: 2px solid $uncommon;
}

.border-rare {
  border: 2px solid $rare;
}

.border-epic {
  border: 2px solid $epic;
}

.border-legendary {
  border: 2px solid $legendary;
}

.border-mythic {
  border: 2px solid $mythic;
}

.item-rarity-common {
  background: $common;
}

.item-rarity-uncommon {
  background: $uncommon;
}

.item-rarity-rare {
  background: $rare;
}

.item-rarity-epic {
  background: $epic;
}

.item-rarity-legendary {
  background: $legendary;
}

.item-rarity-mythic {
  background: $mythic;
}

.card-image {
  grid-area: image;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover !important;
}

.border-top-gray {
  border-top: 1px solid lightgray;
}

.card-text {
  grid-area: text;
  margin: 25px;
}
.card-text .date {
  color: rgb(255, 7, 110);
  font-size: 13px;
}
.card-text p {
  color: grey;
  font-size: 15px;
  font-weight: 300;
}
.card-text h2 {
  margin-top: 0px;
  font-size: 20px;
}
