<div id="features">
  <img
    class="coin"
    src="assets/custom/currency.png"
    data-aos="fade-right"
    data-aos-duration="1000"
    data-aos-anchor-placement="top-bottom"
  />
  <img class="wizard" src="assets/characters/wizard-f.png" />
  <div class="text">
    Welcome to URUK 👹, A metaverse where you can play, battle, farm, and earn.
    Uruk Bartas offers you the opportunity to own your own character, upgrade
    their stats, equip unique and rare items which are all considered as NFT's.
    Enter Uruk Bartas and begin questing to earn your $URUK tokens. The NFT Game
    that is redefining Play2Earn - this is Uruk Bartas. 
  </div>
</div>
