<div id="introduction">
  <div class="trigger trigger-animation1"></div>
  <div class="trigger trigger-animation2"></div>
  <div class="trigger trigger-animation3"></div>
  <div class="trigger trigger-animation4"></div>
  <div class="trigger trigger-animation5"></div>
  <div class="trigger trigger-gates trigger-animation6"></div>

  <div class="display-wizard">
    <div class="wizard-container">
      <img
        class="coin"
        src="assets/custom/currency.png"
        data-aos="fade-in"
        data-aos-duration="1000"
        data-aos-anchor-placement="top-bottom"
      />

      <img
        class="item"
        src="assets/mythics/sword.png"
        data-aos="fade-in"
        data-aos-duration="1000"
        data-aos-anchor-placement="top-bottom"
      />

      <img
        class="wizard"
        src="assets/characters/wizard-f.png"
        data-aos="fade-in"
        data-aos-duration="1000"
        data-aos-anchor-placement="top-bottom"
      />
      <div class="character-dialog text1">
        <span class="character-name">Elle'sahar</span>: Welcome human, my name
        is Elle'sahar, high commander of the elven 🍃 troops.
      </div>

      <div
        class="character-dialog text2"
        data-aos="fade-right"
        data-aos-duration="1000"
        data-aos-anchor-placement="top-bottom"
      >
        <span class="character-name">Elle'sahar</span>: Let me introduce you to
        <p class="emphasis">Morgoroth</p>
        (World of Uruk Bartas), a land where if you want succeed you'll have to
        quest, battle, farm and much more.
      </div>

      <div
        class="character-dialog text3"
        data-aos="fade-right"
        data-aos-duration="1000"
        data-aos-anchor-placement="top-bottom"
      >
        <span class="character-name">Elle'sahar</span>: In this world everything
        is unique, there are rumours that the gods from the other side of the
        metaverse call them NFT's (idk what is that...).
      </div>

      <div
        class="character-dialog text4"
        data-aos="fade-right"
        data-aos-duration="1000"
        data-aos-anchor-placement="top-bottom"
      >
        <span class="character-name">Elle'sahar</span>: The currency we use is
        called
        <p class="emphasis">$URUK</p>
        in addition to serving as money we can also use it to increase our
        strengths.
      </div>

      <div
        class="character-dialog text5"
        data-aos="fade-right"
        data-aos-duration="1000"
        data-aos-anchor-placement="top-bottom"
      >
        <span class="character-name">Elle'sahar</span>: Anyway, the gates are
        now open, enter Morgoroth and beggin your journey. Good luck.
      </div>
    </div>
  </div>

  <div class="gates">
    <img class="gates1" src="assets/custom/gates.png" />
  </div>
</div>
