#introduction {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  min-width: 100%;
  align-items: center;
  flex-direction: column;

  .trigger {
    height: 33vh;
    width: 100%;
  }

  .trigger-gates {
    height: 100vh !important;
  }

  .gates {
    position: fixed;
    bottom: 100px;
    z-index: 100;
    .gates1 {
      opacity: 0;
      width: 30vw;
    }
  }

  .display-wizard {
    opacity: 0;
    transition: 0.5s ease-in-out;
    position: fixed;
    top: 500px;

    .wizard-container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .coin {
        opacity: 0;
        width: 150px;
        position: absolute;
        margin-top: 100px;
        z-index: 1;
        margin-right: 300px;
        animation: flip 2s ease-out infinite;
      }

      .item {
        opacity: 0;
        width: 450px;
        position: absolute;
        margin-top: 150px;
        z-index: 1;
        margin-right: 300px;
        animation: shakeY 8s 1s infinite;
      }

      .wizard {
        position: absolute;
        height: 500px;
        margin-left: 200px;
        margin-top: 300px;
      }

      .character-dialog {
        max-width: 90vw;
        width: 1000px;
        margin: auto;
        position: absolute;
        margin-bottom: 400px;
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  #introduction {
    .wizard {
      height: 400px;
      margin-left: 0;
      margin-top: 500px !important;
    }
    .coin {
      width: 100px !important;
      margin-top: 300px !important;
      margin-right: 200px !important;
    }
    .item {
      margin-right: 100px !important;
    }
    .character-dialog {
      margin-bottom: 300px;
      &::before {
        right: 50px !important;
      }
    }
  }
}
