<div id="features">
  <img
    class="coin"
    src="assets/custom/currency.png"
    data-aos="fade-right"
    data-aos-duration="1000"
    data-aos-anchor-placement="top-bottom"
  />
  <img class="wizard" src="assets/characters/wizard-f.png" />
  <div class="text">
    Welcome human, I am Elle'sahar, royal commander of the elven 🍃 troops. Let me introduce you to to
    <p class="emphasis">Morgoroth</p>
    (World of Uruk Bartas), a land where if you want succeed you'll have to quest, battle, farm and much more. In this world everything is
    unique, there are rumours that the gods from the other side of the metaverse call them NFT's (idk what is that...). Anyway, the gates
    are now open, enter Morgoroth and beggin your journey. Good luck.
  </div>
</div>
