#introduction {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  min-width: 100%;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50vh;
  padding-top: 30vh;

  .trigger {
    height: 50vh;
    width: 100%;
  }

  .display-wizard {
    opacity: 0;
    transition: 0.5s ease-in-out;
    position: fixed;
    top: 500px;

    .wizard-container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .tiger {
        width: 40vh;
        position: fixed;
        bottom: 10vh;
        right: 25vw;
        z-index: 0;
        -webkit-filter: drop-shadow(5px 5px 5px #222);
        transform: rotateY(176deg);
      }

      .coin {
        opacity: 0;
        width: 150px;
        position: absolute;
        z-index: 2;
        right: 5vh;
        animation: flip 2s ease-out infinite;
        -webkit-filter: drop-shadow(5px 5px 5px #222);
      }

      .item {
        opacity: 0;
        width: 35vh;
        position: absolute;
        margin-top: 150px;
        z-index: 1;
        margin-right: 300px;
        animation: shakeY 8s 1s infinite;
        -webkit-filter: drop-shadow(5px 5px 5px #222);
        margin-top: 0;
      }

      .wizard {
        position: fixed;
        height: 80vh;
        margin-left: 35vw;
        top: 20vh;
        -webkit-filter: drop-shadow(5px 5px 5px #222);
      }

      .character-dialog {
        max-width: 90vw;
        width: 1000px;
        margin: auto;
        position: fixed;
        top: 8vh;
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  #introduction {
    .wizard {
      top: 35vh !important
    }
    .coin {
      width: 100px !important;
    }
    .item {
      margin-right: 100px !important;
    }
    .character-dialog {
      margin-bottom: 300px;
    }
    .tiger {
      opacity: 0;
    }
    .trigger {
      height: 70vh;
      width: 100%;
    }
  }
}
