<div id="whitepaper" class="row">
  <div class="book-container col-12 col-xl-6">
    <img class="book" src="assets/whitepaper/libro.png" />
    <img class="pedestal" src="assets/whitepaper/atril.png" />
  </div>
  <div class="text-container col-12 col-xl-6 d-flex align-items-start">
    <p>
      Read our
      <a
        mat-raised-button
        color="primary"
        class="w-100 big-button h-100"
        target="_blank"
        rel="noopener noreferrer"
        (click)="notAvailableYet()"
      >
        📜 uruk docs
      </a>
    </p>
  </div>
</div>
