@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

#whitepaper {
  min-height: 500px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;

  .goblin {
    position: absolute;
    height: 30vh;
    width: auto;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    bottom: 0;
    animation: shakeY 8s ease-in-out infinite;
  }

  .text-container {
    p {
      font-size: 5vh;
      color: white;
      user-select: none;
      text-align: center;
      .download {
        a {
          font-size: 70px;
          color: unset;
          cursor: pointer;
          text-decoration: none;
          &:hover {
            transition: 0.5s ease-in-out;
            color: rgb(149, 73, 168);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1180px) {
  #whitepaper {
    .text-container {
      width: 95vw;
      position: unset;
      margin: 0;
    }
  }
}
