@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins/_breakpoints';

#whitepaper {
  height: fit-content;
  width: 100%;
  min-height: 650px;
  margin-bottom: 0;
  @include media-breakpoint-up(xl) {
    margin-bottom: -325px;
  }
  .book-container {
    position: relative;
    .pedestal {
      top: 55px;
      max-width: 800px;
    }
    .book {
      position: absolute;
      right: 0;
      width: 500px;

      @include media-breakpoint-between(xl, xxl) {
        right: -155px;
      }
      @include media-breakpoint-between(lg, xl) {
        right: 220px;
      }
      @include media-breakpoint-between(md, lg) {
        right: -20px;
      }

      top: -30px;
      animation: shakeY;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      z-index: 1;
    }
  }

  .text-container {
    p {
      font-size: 60px;
      font-family: wow;
      -webkit-text-stroke: 3px #1d1d1d96;
      color: #ececec;
      user-select: none;
      text-align: center;
      .download {
        a {
          font-size: 70px;
          color: unset;
          cursor: pointer;
          text-decoration: none;
          &:hover {
            transition: 0.5s ease-in-out;
            color: rgb(149, 73, 168);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1450px) and (min-width: 1250px) {
  .pedestal {
    width: 630px;
  }
  .book {
    width: 400px !important;
    right: 20px !important;
  }
}

@media only screen and (max-width: 1180px) {
  #whitepaper {
    .text-container {
      width: 95vw;
      position: unset;
      margin: 0;
    }
    .book-container {
      position: relative;
      order: 1;
      bottom: -100px;
      .book {
        width: 400px;
        position: initial;
      }
      .pedestal {
        top: 55px;
        max-width: 800px;
        position: absolute;
        z-index: -1;
        left: -65px;
        max-width: 550px;
      }
    }
  }
}
