@import 'styles/loader';
@import 'swiper/css/bundle';

* {
  margin: 0;
  padding: 0;
}

body {
  background: #8d6f51 !important;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff00 !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ae9d83 !important;
}

@font-face {
  font-family: wow;
  src: url(assets/fonts/LifeCraft_Font.ttf);
}
