// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
@import "../src/styles/palettes/primary.palette.scss";
@import "../src/styles/palettes/secondary.palette.scss";
@import "../src/styles/palettes/ternary.palette.scss";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$uruk-bartas-primary: mat.define-palette($md-mcgpalette0);
$uruk-bartas-accent: mat.define-palette($md-mcgpalette1);

// The warn palette is optional (defaults to red).
$uruk-bartas-warn: mat.define-palette($md-mcgpalette2);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$uruk-bartas-theme: mat.define-light-theme(
  (
    color: (
      primary: $uruk-bartas-primary,
      accent: $uruk-bartas-accent,
      warn: $uruk-bartas-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($uruk-bartas-theme);

@import "styles/loader";
@import "swiper/css/bundle";
@import "styles/roadmap-vendor-styles.scss";
@import "styles/variables.scss";
@font-face {
  font-family: themify;
  src: url(assets/fonts/themify9f24.eot?-fvbane);
  src: url(assets/fonts/themifyd41d.eot?#iefix-fvbane)
      format("embedded-opentype"),
    url(assets/fonts/themify9f24.woff?-fvbane) format("woff"),
    url(assets/fonts/themify9f24.ttf?-fvbane) format("truetype"),
    url(assets/fonts/themify9f24.svg?-fvbane#themify) format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: wow;
  src: url(assets/fonts/LifeCraft_Font.ttf);
}

html {
  scroll-behavior: smooth;
}

.blurredImage {
  filter: blur(10px) grayscale(1);
}

app-roadmap {
  width: 100vw;
  .swiper {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 45px 0px;
    .swiper-wrapper {
      padding: 0px 50px;
    }
    .swiper-button-prev {
      color: $primary !important;
    }
    .swiper-button-next {
      color: $primary !important;
    }
    .swiper-slide {
      border-top: 4px solid $primary;
      .swiper-slide {
        border-top: 1px solid transparent;
      }
    }
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #8d6f51 !important;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff00 !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ae9d83 !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.title-section {
  padding-bottom: 50px;
  font-family: "wow";
  font-size: 80px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 20%,
    rgba(0, 0, 0, 1) 80%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px #000000;
}
