$black: #1f1f1e;

// TODO colores por gradientes de Coolors
$black-transparent: #00000070;
$black-500: #1f1f1d;
$black-400: #2a2a28;
$black-300: #343432;
$black-200: #3e3e3c;
$black-100: #494946;

$gray-500: #535350;
$gray-400: #686864;
$gray-300: #7d7d78;
$gray-200: #91918d;
$gray-100: #a5a5a1;

$white-500: #b9b9b6;
$white-400: #cdcdcb;
$white-300: #e1e1e0;
$white-200: #f5f5f5;
$white-100: #fffffc;

$light-brown: #b49082;
$brown: #4d372e;
$red: #c62f39;
$orange: #ff6b35;
$yellow: #eeb902;

$primary: #34430f;
$secondary: #5b741a;
$third: #8fb72a;
