<div id="in-game">
  <h1 class="title-section" style="padding-bottom: 50px">In game</h1>

  <div class="character row pb-5">
    <div
      class="image-container col-12 col-lg-7"
      data-aos="zoom-in"
      data-aos-duration="1000"
    >
      <pinch-zoom>
        <img src="assets/custom/character.png" class="screenshot" />
      </pinch-zoom>
    </div>
    <div
      class="text-container-character col-12 col-lg-5"
      data-aos="flip-up"
      data-aos-delay="500"
    >
      <img class="text" src="assets/custom/cartel-character.png" />
    </div>
  </div>

  <div class="marketplace row">
    <div
      class="text-container-marketplace col-12 col-lg-5"
      data-aos="flip-up"
      data-aos-delay="500"
      data-aos-duration="1000"
    >
      <img
        class="text marketplace"
        src="assets/custom/cartel-marketplace.png"
      />
    </div>
    <div
      class="image-container col-12 col-lg-7"
      data-aos="zoom-in"
      data-aos-duration="1000"
    >
      <pinch-zoom>
        <img src="assets/custom/marketplace.png" class="screenshot" />
      </pinch-zoom>
    </div>
  </div>
</div>
