#in-game {
  margin-top: 100px;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;

  pinch-zoom {
    border-radius: 10px !important;
  }

  .character,
  .marketplace {
    .text {
      background: #00000096;
      border-radius: 5px;
      color: #eeeeee;
      padding: 20px;
      font-size: 18px;
      font-family: monospace;
      max-width: 90vw;
      span {
        display: block;
        font-size: 30px;
      }
    }

    img {
      height: 450px;
    }

    .image-container {
      display: flex;
      justify-content: center;
      img {
        width: 720px;
        max-width: 95vw;
        height: auto;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  #in-game {
    .character,
    .marketplace {
      .text-container-marketplace {
        padding-top: 50px;
      }

      .text-container-character {
        padding-top: 50px;
      }

      .text {
        width: 400px !important;
      }
    }

    .marketplace {
      display: flex;
      flex-direction: column;
      .text-container-marketplace {
        order: 2;
      }
      .image-container {
        order: 1;
      }
    }
  }
}
