<div id="in-game">
  <div class="character row">
    <div class="image-container col-7" data-aos="zoom-in" data-aos-duration="1000">
      <img class="cartel-img" src="assets/custom/cartel.png" />
      <img src="assets/screenshots/character.jpeg" class="screenshot" />
    </div>
    <div class="text-container col-5" data-aos="flip-up" data-aos-delay="500">
      <img class="text" src="assets/custom/cartel-character.png" />
    </div>
  </div>

  <div class="marketplace row">
    <div class="text-container col-5" data-aos="flip-up" data-aos-delay="500" data-aos-duration="1000">
      <img class="text marketplace" src="assets/custom/marketplace-cartel.png" />
    </div>
    <div class="image-container col-7" data-aos="zoom-in" data-aos-duration="1000">
      <img class="cartel-img" src="assets/custom/cartel.png" />
      <img src="assets/screenshots/marketplace.jpeg" class="screenshot" />
    </div>
  </div>
</div>
