#in-game {
  margin-top: 100px;
  width: 100%;
  min-height: 100vh;

  .character,
  .marketplace {
    .text-container-marketplace {
      display: flex;
      justify-content: center;
      img {
        margin-top: -20px;
        width: 450px;
      }
    }
    .text-container-character {
      display: flex;
      justify-content: center;
      img {
        width: 450px;
      }
    }

    img {
      height: 450px;
    }

    .image-container {
      display: flex;
      justify-content: center;
      img {
        width: 720px;
        max-width: 95vw;
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  #in-game {
    .character,
    .marketplace {
      img {
        width: 95vw !important;
      }
      .text-container-marketplace {
        padding-bottom: 50px;
      }

      .text-container-character {
        padding-top: 50px;
      }
    }
  }
}
